* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.hero {
    display: flex;
    /* This aligns the content to the right side */
    justify-content: flex-end; 
    /* This centers the content vertically */
    align-items: center; 
    background-image: url('../images/banner/banner1.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
    padding-right: 10%; 
}

.hero-style {
    text-align: right;
    max-width: 600px; /* Limits width to force text wrapping */
}

.hero-style h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
    color: #151414;
    margin-bottom: 24px;
}

.hero-style p {
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
    line-height: 1.6;
}

.btn {
    padding: 18px 35px;
    background-color: #F15B22;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #d44a1a;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding: 100px 10%;
}
.title .img{
   
    margin: 0 auto;

}
.title .text{
    text-align: left;
    max-width: 500px;


}
.text h4{
    color:#151414;
    font-size: 40px;
    margin-bottom: 24px;
}
.text p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}
.textt ul{
    list-style: none;
    padding: 0;

}
.text li{
    margin-bottom: 10px;
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
}